# Types of Operators
Arithmetic Operator
Comparison (Relational) Operator
Assignment Operator
Logical Operator
Bit-Wise Operator
Membership Operators
Identity Operator

# Arithmetic Operator

In [4]:
# + Addition
# - Subtraction
# * Multiplication
# / Division
# // Floor Division
# ** Power
# % Modulus

In [1]:
5 + 7

12

In [2]:
5.0 + 2.7

7.7

In [3]:
"Moon" + "Mir"

'MoonMir'

In [5]:
["W", "C"] + ["B", "A"]

['W', 'C', 'B', 'A']

In [6]:
("E","R")+("Q","F")

('E', 'R', 'Q', 'F')

In [7]:
{"Q","F"}+{"G","W"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
2 - 4

-2

In [9]:
7.3 - 3.5

3.8

In [10]:
{"2","5"} - {"1","4"}

{'2', '5'}

In [11]:
'A' * 3

'AAA'

In [12]:
["W", "C"] * ["B", "A"]

TypeError: can't multiply sequence by non-int of type 'list'

In [13]:
("E","R") * ("Q","F")

TypeError: can't multiply sequence by non-int of type 'tuple'

In [14]:
2**3

8

In [15]:
12/3

4.0

In [16]:
12 / 3.0

4.0

In [17]:
11/3

3.6666666666666665

In [18]:
11//3

3

# Comparison Operator

In [ ]:
# == Equal
# > Greator then
# < Less then
# >= Greator then or equal to 
# <= less then or equal to
# != not qual
# <> not equal

In [19]:
"Qasim" == "qasim"

False

In [20]:
'qasum' == 'qasim'

False

In [21]:
'qasim' == 'qasim'

True

In [22]:
2 == 2

True

In [23]:
2 == 2.0

True

In [24]:
a = 2
b = 2
a == b

True

In [25]:
['a','b'] == ['a','b']

True

In [26]:
{'a','b'} == {'a','b'}

True

In [27]:
('a','b') == ('a','b')

True

In [28]:
6 > 10

False

In [29]:
10 > 6

True

In [30]:
10 > 10

False

In [31]:
10 >= 10

True

In [32]:
11 >= 10

True

In [33]:
10 > 9

True

In [34]:
'A' > 'a'

False

In [35]:
"A" > "B"

False

In [36]:
"B" > "A"

True

In [37]:
# 65 = 'A' -> 90 = 'Z'
# 97 = 'a' -> 122 = 'z'
# 48 = 0 -> 57 = 9

In [38]:
chr(65) # To find the Character in ASCII

'A'

In [50]:
ord('A') # To find the ASCII COde of the Character

65

In [40]:
ord('z')

122

In [41]:
chr(48)

'0'

In [42]:
ord("0")

48

In [43]:
"A" > "B"

False

In [44]:
3 < 5

True

In [45]:
2 <= 5

True

In [46]:
5 !=3

True

In [47]:
3 != 3

False

In [51]:
'Qasim' != 'Qasim'

False

In [52]:
'Qasim' != 'Qusim'

True

# Assignment Operator

In [53]:
# = Assignment Operator
# += Increment Operator
# -= Decrement Operator
# *=
# **=
# /=
# //=
# %=

In [54]:
a = 2
a = 3
a = 6
a = 7

b = 4
b = 5
b = 6
b = 9
print(a)
print(b)

7
9

In [55]:
a = 1
a += 2
a += 3
a += 4
print(a)

10

In [56]:
a = 100
a -= 2
a -= 3
a -= 4
print(a)

91

In [57]:
a = 1
a *= 2
a *= 3
a *= 4
print(a)

24

In [58]:
a = 100
a /= 2
a /= 2
print(a)

25.0

In [59]:
a = 2
a **= 2
a **= 2
print(a)

16

In [60]:
a = 2
a **= 3
a **= 3
print(a)

512

In [61]:
a = "A"
a *= 3
print(a)

AAA

In [62]:
a = 21
a %= 5
print(a)

1

In [63]:
a = "A"
a += "B"
a += "C"
print(a)

ABC

# Logical Operator

In [64]:
# and = &
# or = |
# not = ! or <>

In [65]:
user = "Moon"
Pass = 123

# user == "Moon"
print(user == "Moon")
# Pass == 123
print(Pass == 123)

True
True

In [66]:
True and True and True

True

In [67]:
True & True & True

True

In [68]:
True & True & False

False

In [69]:
a = "A"
b = "B"
c = "C"
d = "D"
print((a == "A") & (b == "B") & (c == "C") & (d == "D"))
print(a == "A" and b == "B" and c == "C" and d == "D")

True
True

In [70]:
True or True or True or False

True

In [71]:
True | True | True | False

True

In [73]:
user = input("Username: ")
Pass = input("password: ")

(user == "Moon" or user == "Admin" or user == "abc") and Pass == "123"

Username: Moon
password: 123

True

# Bit-Wise Operator


 11101 = 29
 11100 = 28

 11101 = 29
 11100 = 28
 ------
 11100 = 28

In [74]:
 28 & 29

28

XOR

 11101 = 29
 11100 = 28

 11101 = 29
 11100 = 28
 ------
 00001 = 1

In [75]:
29 ^ 28

1

In [76]:
29 << 2

116

In [77]:
29 >> 2

7

In [78]:
25 << 2

100

In [79]:
25 >> 2

6

# Membership Operator

In [80]:
names = ['Qasim', 'Moon','Ali', 'Doud']

for name in names:
    if name == 'Qasim':
        print(True)

True

In [81]:
'Moon' in names

True

In [82]:
'Hader' not in names

True

In [84]:
search = input("Write Something: ")
'Pakistan' in search

Write Something: I Love my Country Pakistan

True

# Identity Operator

In [85]:
a = '5'
b = 5
c = a

print(a==b)
print(a==c)

False
True

In [86]:
a is c

True

In [87]:
a is b

False

# Control Flow

if,elif and else

if logic:
    Code run if logic True
elif logic:
    Code runs if this logic is True
else:
    Code runs if logic is False

In [88]:
if True:
    print('Pakistan')
else:
    print('Zindabad')

Pakistan

In [89]:
if False:
    print('Pakistan')
else:
    print('Zindabad')

Zindabad

True_block if logic else False_block

In [90]:
'Pakistan' if True else 'Zindabad'

'Pakistan'

In [91]:
'Pakistan' if False else 'Zindabad'

'Zindabad'

In [92]:
user = input("Username: ")
Pass = input("password: ")

Authentication = (user == "Moon" or user == "Admin" or user == "abc") and Pass == "123"
if Authentication == True:
    print('Login Successfull')
else:
    print('Fail to Login')

Username: Moon
password: 123
Login Successfull

In [2]:
user = input("Username: ")
Pass = input("password: ")

Authentication = (user == "Moon" or user == "Admin" or user == "abc") and Pass == "123"
if Authentication == True:
    print('Login Successfull')
else:
    print('Fail to Login')

Username: Moon
password: 111
Fail to Login

In [3]:
user = input("Username: ")
Pass = input("password: ")

Authentication = (user == "Moon" or user == "Admin" or user == "abc") and Pass == "123"
if Authentication == True:
    print('Login Successfull')
else:
    print('Fail to Login')

Username: soon
password: 123
Fail to Login