# Types of Operators
Arithmetic Operator
Comparison (Relational) Operator
Assignment Operator
Logical Operator
Bit-Wise Operator
Membership Operators
Identity Operator

# Arithmetic Operator

In [ ]:
# + Addition
# - Subtraction
# * Multiplication
# / Division
# // Floor Division
# ** Power
# % Modulus

In [ ]:
5 + 7

In [ ]:
5.0 + 2.7

In [ ]:
"Moon" + "Mir"

In [ ]:
["W", "C"] + ["B", "A"]

In [ ]:
("E","R")+("Q","F")

In [ ]:
{"Q","F"}+{"G","W"}

In [ ]:
2 - 4

In [ ]:
7.3 - 3.5

In [ ]:
{"2","5"} - {"1","4"}

In [ ]:
'A' * 3

In [ ]:
["W", "C"] * ["B", "A"]

In [ ]:
("E","R") * ("Q","F")

In [ ]:
2**3

In [ ]:
12/3

In [ ]:
12 / 3.0

In [ ]:
11/3

In [ ]:
11//3

# Comparison Operator

In [ ]:
# == Equal
# > Greator then
# < Less then
# >= Greator then or equal to 
# <= less then or equal to
# != not qual
# <> not equal

In [ ]:
"Qasim" == "qasim"

In [ ]:
'qasum' == 'qasim'

In [ ]:
'qasim' == 'qasim'

In [ ]:
2 == 2

In [ ]:
2 == 2.0

In [ ]:
a = 2
b = 2
a == b

In [ ]:
['a','b'] == ['a','b']

In [ ]:
{'a','b'} == {'a','b'}

In [ ]:
('a','b') == ('a','b')

In [ ]:
6 > 10

In [ ]:
10 > 6

In [ ]:
10 > 10

In [ ]:
10 >= 10

In [ ]:
11 >= 10

In [ ]:
10 > 9

In [ ]:
'A' > 'a'

In [ ]:
"A" > "B"

In [ ]:
"B" > "A"

In [ ]:
# 65 = 'A' -> 90 = 'Z'
# 97 = 'a' -> 122 = 'z'
# 48 = 0 -> 57 = 9

In [ ]:
chr(65)

In [ ]:
ord('A')

In [ ]:
ord('z')

In [ ]:
chr(48)

In [ ]:
ord("0")

In [ ]:
"A" > "B"

In [ ]:
3 < 5

In [ ]:
2 <= 5

In [ ]:
5 !=3

In [ ]:
3 != 3

In [ ]:
'Qasim' != 'Qasim'

In [ ]:
'Qasim' != 'Qusim'

# Assignment Operator

In [ ]:
# = Assignment Operator
# += Increment Operator
# -= Decrement Operator
# *=
# **=
# /=
# //=
# %=

In [ ]:
a = 2
a = 3
a = 6
a = 7

b = 4
b = 5
b = 6
b = 9
print(a)
print(b)

In [ ]:
a = 1
a += 2
a += 3
a += 4
print(a)

In [ ]:
a = 100
a -= 2
a -= 3
a -= 4
print(a)

In [ ]:
a = 1
a *= 2
a *= 3
a *= 4
print(a)

In [ ]:
a = 100
a /= 2
a /= 2
print(a)

In [ ]:
a = 2
a **= 2
a **= 2
print(a)

In [ ]:
a = 2
a **= 3
a **= 3
print(a)

In [ ]:
a = "A"
a *= 3
print(a)

In [ ]:
a = 21
a %= 5
print(a)

In [ ]:
a = "A"
a += "B"
a += "C"
print(a)

# Logical Operator

In [ ]:
# and = &
# or = |
# not = ! or <>

In [ ]:
user = "Moon"
Pass = 123

# user == "Moon"
print(user == "Moon")
# Pass == 123
print(Pass == 123)

In [ ]:
True and True and True

In [ ]:
True & True & True

In [ ]:
True & True & False

In [ ]:
a = "A"
b = "B"
c = "C"
d = "D"
print((a == "A") & (b == "B") & (c == "C") & (d == "D"))
print(a == "A" and b == "B" and c == "C" and d == "D")

In [ ]:
True or True or True or False

In [ ]:
True | True | True | False

In [ ]:
user = input("Username: ")
Pass = input("password: ")

(user == "Moon" or user == "Admin" or user == "abc") and Pass == "123"

# Bit-Wise Operator


 11101 = 29
 11100 = 28

 11101 = 29
 11100 = 28
 ------
 11100 = 28

In [ ]:
 28 & 29

XOR

 11101 = 29
 11100 = 28

 11101 = 29
 11100 = 28
 ------
 00001 = 1

In [ ]:
29 ^ 28

In [ ]:
29 << 2

In [ ]:
29 >> 2

In [ ]:
25 << 2

In [ ]:
25 >> 2

# Membership Operator

In [ ]:
names = ['Qasim', 'Moon','Ali', 'Doud']

for name in names:
    if name == 'Qasim':
        print(True)

In [ ]:
'Moon' in names

In [ ]:
'Hader' not in names

In [ ]:
search = input("Write Something: ")
'Pakistan' in search

# Identity Operator

In [ ]:
a = '5'
b = 5
c = a

print(a==b)
print(a==c)

In [ ]:
a is c

In [ ]:
a is b

# Control Flow

if,elif and else

if logic:
    Code run if logic True
elif logic:
    Code runs if this logic is True
else:
    Code runs if logic is False

In [ ]:
if True:
    print('Pakistan')
else:
    print('Zindabad')

In [ ]:
if False:
    print('Pakistan')
else:
    print('Zindabad')

True_block if logic else False_block

In [ ]:
'Pakistan' if True else 'Zindabad'

In [ ]:
'Pakistan' if False else 'Zindabad'

In [1]:
user = input("Username: ")
Pass = input("password: ")

Authentication = (user == "Moon" or user == "Admin" or user == "abc") and Pass == "123"
if Authentication == True:
    print('Login Successfull')
else:
    print('Fail to Login')

Username: Moon
password: 123
Login Successfull

In [2]:
user = input("Username: ")
Pass = input("password: ")

Authentication = (user == "Moon" or user == "Admin" or user == "abc") and Pass == "123"
if Authentication == True:
    print('Login Successfull')
else:
    print('Fail to Login')

Username: Moon
password: 111
Fail to Login

In [3]:
user = input("Username: ")
Pass = input("password: ")

Authentication = (user == "Moon" or user == "Admin" or user == "abc") and Pass == "123"
if Authentication == True:
    print('Login Successfull')
else:
    print('Fail to Login')

Username: soon
password: 123
Fail to Login