In [1]:
import this  # Library / way of writing Coding

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print("Hello Me")

Hello Me

In [1]:
print(8 * 7 + 3 / 2 - 4) #PEMDAS

53.5

In [5]:
a = 7 # "=" Assigning Operator
b = 7
a == b # "==" Comparing operator
print(a)
print(b)

7
7

In [6]:
print(id(a)) # Memory Address
print(id(b)) # Memory Address

140720849261568
140720849261568

In [7]:
# Deep Copy = Copies Value = Copy by value
# Shallow Copy = Copies Address = Copy by refrence

In [8]:
a = 7
type(a) # pass by refrence / Defining type

int

In [9]:
b = 8.3
type(b)

float

In [12]:
c = True
type(c)

bool

In [13]:
d = "Pakistan"
type(d)

str

In [20]:
# Index   0     1   2     3
name = ["Ali", 12, 5.6, True] #List = can update the values
# Index  -4    -3  -2    -1
print(name)
type(name)

['Ali', 12, 5.6, True]

list

In [15]:
# Homogenious = Array = Single Data-type Array
# Hetrogenious = List = Multi Data-type

In [19]:
# Index   0     1   2     3
names = ("Ali", 12, 5.6, True) #Tuple = cannot Update the values
# Index  -4    -3  -2    -1
print(names)
print(names[1])
type(name)

('Ali', 12, 5.6, True)
12

tuple

In [21]:
Naam = {"Humza" , "Ali" , "Moon" , "Humza"} #Set
print(Naam)
type(Naam)

{'Ali', 'Moon', 'Humza'}

set

In [24]:
# Index   0     1   2     3
name = ("Ali", 12, 5.6, True) #Tuple
# Index  -4    -3  -2    -1
print(name)

name = list(name)
print(name[0])
type(name)

('Ali', 12, 5.6, True)
Ali

list

In [37]:
data = {"Name":"Mir AbdulRehman",
        "Father_Name":"Sohail Sharif Mir",
        0 : "Pakistan"} # Dictionery
data["Name"]

'Mir AbdulRehman'

In [40]:
type(data)

dict

In [38]:
list(data)

['Name', 'Father_Name', 0]

In [39]:
data[0]

'Pakistan'

In [41]:
name1 = "Moon"
name2 = "moon"

print(name1 == name2)
print(id(name1))
print(id(name2))

False
2321869080256
2321797202248

In [43]:
dir(name1)  #list of method or functions

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
name1 = "Moon"
print(name1.upper()) # In-Line / Convert In Upper-Case
print(name1)
name1 = name1.upper() #In-Memory
print(name1)

MOON
Moon
MOON

In [46]:
name2 = "AbDuLLah"
print(name2.lower()) # In-Line / Convert In Lower-Case
print(name2)
name2 = name2.lower() # In-Memory
print(name2)

abdullah
AbDuLLah
abdullah

In [49]:
name1 = "  Mir Abdul   Rehman "
print(len(name1)) # Count the Characters
print(name1.title()) # print as Title

21
  Mir Abdul   Rehman

In [51]:
a = "We love Pakistan from the bottom of our"
a.find("Pakistan") # find the specifick Word or character and print the total number of character

8

In [56]:
a[8:16] #Slicing

'Pakistan'

In [73]:
a = "We love Pakistan from the bottom of our"
b = a.split()
b

['We', 'love', 'Pakistan', 'from', 'the', 'bottom', 'of', 'our']

In [79]:
name = "Moon"
fname = "Sohail Mir"
program = "PIAIC"

print("Student Name: %s \nFather Name: %s \nProgram: %s \n"%(name,fname,program))

Student Name: Moon
Father Name: Sohail Mir
Program: PIAIC

In [82]:
print(f"Student Name: {name} \nFather Name: {fname} \nProgram: {program}")

Student Name:Moon
Father Name: Sohail Mir
Program: PIAIC

In [84]:
print("Student Name: {1} \nFather Name: {0}".format(name,fname))

Student Name: Sohail Mir
Father Name: Moon

In [85]:
print("Student Name: {sn} \nFather Name: {fn}".format(sn = name, fn = fname))

Student Name: Moon
Father Name: Sohail Mir

In [90]:
a = input("Enter Roll No. : ")
a = int(a)
print(a)

Enter Roll No. : 55003
55003