# Dictionary

In [1]:
# Dict = {item1, item2, item3}
# item = key.value

d1 = {'id':2,
      'name':'Qasim',
      'course':'A.I',
      'DOB':'27-03-1999'}
d1

{'id': 2, 'name': 'Qasim', 'course': 'A.I', 'DOB': '27-03-1999'}

In [2]:
d1 = {}
d1['ID'] = 1
d1['Name'] = 'AbdulRehman'
d1['Course'] = 'A.I.'

d1

{'ID': 1, 'Name': 'AbdulRehman', 'Course': 'A.I.'}

In [6]:
information = {}
user_id = input("Enter ID: ")
information['id'] = user_id

name = input("Enter name: ")
information['Name'] = name

skills = input("enter your skills with ',' separated values: ")
information['skills'] = skills.split

information

Enter ID: 1
Enter name: Moon
enter your skills with ',' separated values: Python,Java,C++

{'id': '1',
 'Name': 'Moon',
 'skills': <function str.split(sep=None, maxsplit=-1)>}

In [9]:
c
information

Enter ID: 1
Enter name: Moon
enter your skills with ',' separated values: a,f,t,h

{'id': '1', 'Name': 'Moon', 'skills': ['Python', 'a', 'f', 't', 'h']}

In [12]:
d1 = {}
d1['ID'] = 1
d1['Name'] = 'AbdulRehman'
d1['Course'] = 'A.I.'

d1

{'ID': 1, 'Name': 'AbdulRehman', 'Course': 'A.I.'}

In [11]:
d1.clear

In [13]:
d1 = {}
d1['ID'] = 1
d1['Name'] = 'AbdulRehman'
d1['Course'] = 'A.I.'

In [17]:
d2 = d1.copy() # Deep Copy
print('D1= ',d1)
d2['ID'] = 2
print('D2= ',d2)

D1=  {'ID': 1, 'Name': 'AbdulRehman', 'Course': 'A.I.'}
D2=  {'ID': 2, 'Name': 'AbdulRehman', 'Course': 'A.I.'}

In [18]:
d1 = {}
d1['id'] = None
d1['name'] = None
d1['course'] = None

d1

{'id': None, 'name': None, 'course': None}

In [20]:
l1 = ['ID','Name','Course','Timing','Address','DOB']
print(l1)

d1 = dict.fromkeys(l1)
print(d1)

['ID', 'Name', 'Course', 'Timing', 'Address', 'DOB']
{'ID': None, 'Name': None, 'Course': None, 'Timing': None, 'Address': None, 'DOB': None}

In [21]:
e1 = {}

val = input("enter your skills with ',' separated values: ")
e1['val'] = e1['val'] + skills.split(',')

enter your skills with ',' separated values: n,e,t,z,a

KeyError: 'val'

In [25]:
l1 = input('Enter comma separator: ')
l1 = l1.split(',')
print(l1)

d1 = dict.fromkeys(l1,'NAN')
print(d1)

Enter comma separator: m,a,w,e
['m', 'a', 'w', 'e']
{'m': 'NAN', 'a': 'NAN', 'w': 'NAN', 'e': 'NAN'}

In [27]:
l1 = input('Enter comma separator: ')
l1 = l1.split(',')

l2 = input('Enter Comma Separated Values: ')
l2 = l2.split(',')


d1 = dict.fromkeys(l1)
for l1 in d1:
    d1 = {l1:l2}
    print(d1)

Enter comma separator: ID,Name,Class
Enter Comma Separated Values: 1,Moon,PIAIC
{'ID': ['1', 'Moon', 'PIAIC']}
{'Name': ['1', 'Moon', 'PIAIC']}
{'Class': ['1', 'Moon', 'PIAIC']}

In [29]:
l1 = input("Enter Keys split by ',': ")
l1 = l1.split(',')
#l1 = input("Enter Keys split by ',': ").split(',')

l2 = input("Enter Value split by ',': ")
l2 = l2.split(',')
#l2 = input("Enter Keys split by ',': ").split(',')

l3 = list(zip(l1,l2))
d1 = dict(l3)
print(d1)

Enter Keys split by ',': ID,Name,Father_Name,Class
Enter Value split by ',': 1,Moon,Mir,PIAIC
{'ID': '1', 'Name': 'Moon', 'Father_Name': 'Mir', 'Class': 'PIAIC'}

In [33]:
print(d1.get('ID'))
print(d1.get('Addess'))
# if the key is available the value will be returned else no error will be generated.

1
None

In [35]:
print(d1)
d1.items()

{'ID': '1', 'Name': 'Moon', 'Father_Name': 'Mir', 'Class': 'PIAIC'}

dict_items([('ID', '1'), ('Name', 'Moon'), ('Father_Name', 'Mir'), ('Class', 'PIAIC')])

In [36]:
print(d1)
d1.keys()

{'ID': '1', 'Name': 'Moon', 'Father_Name': 'Mir', 'Class': 'PIAIC'}

dict_keys(['ID', 'Name', 'Father_Name', 'Class'])

In [37]:
print(d1)
d1.values()

{'ID': '1', 'Name': 'Moon', 'Father_Name': 'Mir', 'Class': 'PIAIC'}

dict_values(['1', 'Moon', 'Mir', 'PIAIC'])

In [38]:
print(d1)
d1.pop('Father_Name')

{'ID': '1', 'Name': 'Moon', 'Father_Name': 'Mir', 'Class': 'PIAIC'}

'Mir'

In [40]:
print(d1)
d1.popitem()

{'ID': '1', 'Name': 'Moon', 'Class': 'PIAIC'}

('Class', 'PIAIC')

In [41]:
d1 = {'a':'x','b':'y','c':'z'}
print(d1)
d1.setdefault('abc','xyz')
print(d1)

{'a': 'x', 'b': 'y', 'c': 'z'}
{'a': 'x', 'b': 'y', 'c': 'z', 'abc': 'xyz'}

In [44]:
d1 = {'a':'AA','b':'BB'}
d2 = {'a':'AAAA','b':'BBBB'}
print(d1)
print(d2)

d1.update(d2)

d1

{'a': 'AA', 'b': 'BB'}
{'a': 'AAAA', 'b': 'BBBB'}

{'a': 'AAAA', 'b': 'BBBB'}

In [90]:
d1 = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8,'i':9}


e1 = (d1.items())
sorted(e1,reverse=True)

w1 = sorted(e1,reverse=True)
dict(w1)

{'i': 9, 'h': 8, 'g': 7, 'f': 6, 'e': 5, 'd': 4, 'c': 3, 'b': 2, 'a': 1}

In [1]:
lst = []
x = ''
while x != 'x':
    dict1 = {}
    dict1['ID'] = input("Please Enter your id: ")
    dict1['Name'] = input("Please Enter your name: ")
    skills = input("Enter Skills separete by comma:")
    dict1['Skills'] = skills.split(' ')
    lst.append(dict1)
    
    x = input("Want to Continue? y/x: ")
lst

Please Enter your id: 1
Please Enter your name: Moon
Enter Skills separete by comma:Python C++ Java
Want to Continue? y/x: x

[{'ID': '1', 'Name': 'Moon', 'Skills': ['Python', 'C++', 'Java']}]